
<div class="color-picker" data-area="colorpicker">
	<div class="wrapper" data-click="do-click">
		<div class="wheel"></div>
		<div class="cursor"></div>
	</div>
	<div class="range">
		<div class="cursor"></div>
	</div>

	<div class="group-head" data-click="group-head">
		<span data-id="RGBA">RGB</span>
		<span data-id="HSVA">HSV</span>
		<span data-id="palette" class="active">Palette</span>
	</div>
	<div class="group-body">
		<div class="rgba">
			<div class="btn disabled pipette">
				<i class="icon-pipette"></i>
			</div>
			<fieldset class="color-group">
				<div class="field number" style="--value: 1.000;" data-value="1.000" data-change="set-rgba-R"><b>R</b></div>
				<div class="field number" style="--value: 1.000;" data-value="1.000" data-change="set-rgba-G"><b>G</b></div>
				<div class="field number" style="--value: 1.000;" data-value="1.000" data-change="set-rgba-B"><b>B</b></div>
				<div class="field number" style="--value: 1.000;" data-value="1.000" data-change="set-rgba-A"><b>A</b></div>
			</fieldset>
		</div>
		<div class="hsva">
			<div class="btn disabled pipette">
				<i class="icon-pipette"></i>
			</div>
			<fieldset class="color-group">
				<div class="field number" style="--value: 1.000;" data-value="1.000" data-change="set-hsva-H"><b>H</b></div>
				<div class="field number" style="--value: 1.000;" data-value="1.000" data-change="set-hsva-S"><b>S</b></div>
				<div class="field number" style="--value: 1.000;" data-value="1.000" data-change="set-hsva-V"><b>V</b></div>
				<div class="field number" style="--value: 1.000;" data-value="1.000" data-change="set-hsva-A"><b>A</b></div>
			</fieldset>
		</div>
		<div class="palette active" data-click="select-palette-color">
			<span style="background: #5cc2fc;"></span>
			<span style="background: #79fce9;"></span>
			<span style="background: #8cf85a;"></span>
			<span style="background: #feef63;"></span>
			<span style="background: #fd978f;"></span>
			<span style="background: #fd97ca;"></span>
			
			<span style="background: #1ca4fc;"></span>
			<span style="background: #2fe6cf;"></span>
			<span style="background: #65d643;"></span>
			<span style="background: #fed846;"></span>
			<span style="background: #fc6554;"></span>
			<span style="background: #fc48a1;"></span>
			
			<span style="background: #1177b8;"></span>
			<span style="background: #1aaa8e;"></span>
			<span style="background: #29af1d;"></span>
			<span style="background: #fcad2a;"></span>
			<span style="background: #eb261f;"></span>
			<span style="background: #d12177;"></span>
			
			<span style="background: #084e7e;"></span>
			<span style="background: #0c6c65;"></span>
			<span style="background: #0d700f;"></span>
			<span style="background: #f07220;"></span>
			<span style="background: #b31a10;"></span>
			<span style="background: #951453;"></span>
			
			<span style="background: #ffffff;"></span>
			<span style="background: #d5d5d5;"></span>
			<span style="background: #929292;"></span>
			<span style="background: #5e5e5e;"></span>
			<span style="background: #414141;"></span>
			<span style="background: #000000;"></span>
		</div>
	</div>

</div>
