<content>
	<div class="workarea">
		<div class="row-work">
			<div class="column-canvas">
				<div class="area canvas">
					<div class="head">Canvas</div>
					<div class="body" data-area="canvas">
						<canvas class="canvas"></canvas>
					</div>
					<div class="foot">
						<span class="button active">
							<i class="icon-paint"></i> Design view
						</span>
						<span class="button">
							<i class="icon-preview"></i> Preview
						</span>
						<span class="button">
							<i class="icon-code"></i> Code view
						</span>

						<span class="button zoom">
							<i class="icon-zoom"></i>
							<span>400</span>
							<i class="icon-sort"></i>
						</span>
					</div>
				</div>
			</div>
			<div class="resize horizontal"><!-- area resize handle --></div>
			<div class="column-sidebar">
				<div class="area navigator">
					<div class="head">Navigator</div>
					<div class="body" data-area="navigator">
						<div>
							<canvas class="nav-cvs"></canvas>
							<div class="view-rect"></div>
						</div>
					</div>
				</div>
				<div class="area layers">
					<div class="head">Assets</div>
					<div class="body" data-area="layers">
						<div class="asset">
							<canvas></canvas>
							<span>hb.png</span>
						</div>
					</div>
					<div class="foot">
						<span class="button"><i class="icon-new"></i></span>
						<span class="button"><i class="icon-trashcan"></i></span>
					</div>
					<!-- custom scrollbar -->
					<div class="bg-scrollbar right">
						<div class="scroll-track">
							<div class="scroll-bar"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="resize vertical"><!-- area resize handle --></div>
		<div class="row-reel">
			<div class="area reel" data-area="reel">
				<div class="body">
					<div class="left">
						<div class="tbl-head"></div>
						<div class="tbl-body">
							
							<div class="tbl-row">
								<i class="icon-eye-on"></i>
								<span>hbi.png</span>
							</div>
							
							<div class="tbl-row">
								<i class="icon-eye-on"></i>
								<span>Brush 1</span>
							</div>
							
							<div class="tbl-row">
								<i class="icon-eye-on"></i>
								<span>Brush 2</span>
							</div>

						</div>
					</div>
					<div class="right">
						<div class="tbl-head">
							<div>
								<ul>
									<li></li><li></li><li></li><li></li><li></li>
									<li></li><li></li><li></li><li></li><li></li>
									<li></li><li></li><li></li><li></li><li></li>
									<li></li><li></li><li></li><li></li><li></li>
									<li></li><li></li><li></li><li></li><li></li>
									<li></li><li></li><li></li><li></li><li></li>
									<li></li><li></li><li></li><li></li><li></li>
								</ul>
							</div>
						</div>
						<div class="tbl-body">
							
							<div class="tbl-row parent-row">
								<span class="frames" style="--l: 0; --w: 14;"></span>
							</div>
							<div class="tbl-row">
								<span class="frames" style="--l: 0; --w: 12; --c: #595;"></span>
							</div>
							<div class="tbl-row">
								<span class="frames" style="--l: 5; --w: 9; --c: #48a;"></span>
							</div>

						</div>
					</div>
				</div>
				<!-- custom scrollbars -->
				<div class="bg-scrollbar right">
					<div class="scroll-track">
						<div class="scroll-bar"></div>
					</div>
				</div>
				<div class="bg-scrollbar bottom">
					<div class="scroll-track">
						<div class="scroll-bar"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</content>
