<content>
	<div class="workarea">
		<div class="row-work">
			<div class="column-canvas">
				<div class="area canvas" data-area="canvas">
					<div class="head">Navigator</div>
					<div class="body"></div>
				</div>
			</div>
			<div class="resize horizontal"><!-- area resize handle --></div>
			<div class="column-sidebar">
				<div class="area navigator" data-area="navigator">
					<div class="head">Navigator</div>
					<div class="body"></div>
				</div>
				<div class="area layers" data-area="layers">
					<div class="head">Layers</div>
					<div class="body"></div>
					<!-- custom scrollbar -->
					<div class="bg-scrollbar right">
						<div class="scroll-track">
							<div class="scroll-bar"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="resize vertical"><!-- area resize handle --></div>
		<div class="row-reel">
			<div class="area reel" data-area="reel">
				<div class="body"></div>
				<!-- custom scrollbars -->
				<div class="bg-scrollbar right">
					<div class="scroll-track">
						<div class="scroll-bar"></div>
					</div>
				</div>
				<div class="bg-scrollbar bottom">
					<div class="scroll-track">
						<div class="scroll-bar"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</content>
