<content class="show-blank-view">
	<!-- shown if no file is opened -->
	<div class="blank-view" data-area="blankView">
		<!-- blank view HTML goes here -->
	</div>
	
	<div class="workarea">
		<div class="row-work">
			<div class="column-canvas">
				<div class="area" data-area="work">
					<div class="head canvas">Design Canvas</div>
					<div class="head preview">Preview Player</div>
					<div class="head code">Embed Code</div>
					<!-- canvas view -->
					<div class="body canvas" data-area="canvas">
						<canvas class="design"></canvas>
					</div>
					<!-- preview view -->
					<div class="body preview" data-area="preview">
						<canvas class="player"></canvas>
					</div>
					<!-- code view -->
					<div class="body code" data-area="code">
						<pre><code class="language-html">
&lt;!DOCTYPE html&gt;
&lt;title&gt;Title&lt;/title&gt;

&lt;style&gt;body {width: 500px;}&lt;/style&gt;

&lt;script type="application/javascript"&gt;
    function $init() {return true;}
&lt;/script&gt;

&lt;body&gt;
    &lt;p checked class="title" id='title'&gt;Title&lt;/p&gt;
    &lt;!-- here goes the rest of the page --&gt;
&lt;/body&gt;
						</code></pre>
					</div>

					<div class="foot">
						<span class="button active" data-click="switch-view" data-arg="canvas">
							<i class="icon-paint"></i> Design view
						</span>
						<span class="button" data-click="switch-view" data-arg="preview">
							<i class="icon-preview"></i> Preview
						</span>
						<span class="button" data-click="switch-view" data-arg="code">
							<i class="icon-code"></i> Code view
						</span>

						<span class="button zoom" data-options="knob" data-change="change-zoom" data-min="25" data-max="800">
							<i class="icon-zoom"></i>
							<span class="value">100</span>
							<i class="icon-sort"></i>
						</span>
					</div>
				</div>
			</div>
			<div class="resize horizontal"><!-- area resize handle --></div>
			<div class="column-sidebar">
				<div class="area navigator">
					<div class="head">Navigator</div>
					<div class="body" data-area="navigator">
						<div class="hidden">
							<canvas class="nav-cvs"></canvas>
							<div class="view-rect"></div>
						</div>
					</div>
				</div>
				<div class="area assets">
					<div class="head">Assets</div>
					<div class="body" data-area="assets" data-scroll-vId="listv1">
						<!-- <div class="asset">
							<div class="thumbnail"></div>
							<span>hb.png</span>
						</div> -->
					</div>
					<div class="foot">
						<span class="button"><i class="icon-new"></i></span>
						<span class="button"><i class="icon-trashcan"></i></span>
					</div>
					<!-- custom scrollbar -->
					<div class="bg-scrollbar vertical right" data-scroll-target="listv1">
						<div class="scroll-track">
							<div class="scroll-bar"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="resize vertical"><!-- area resize handle --></div>
		<div class="row-timeline">
			<div class="area timeline" data-area="timeline">
				<div class="body">
					<div class="left">
						<div class="tbl-head">
							<div class="brush-layer-tools">
								&#160;
							</div>
						</div>
						<div class="tbl-body" data-scroll-vId="listv2">
							<!--
							<div class="tbl-row"><i class="icon-eye-on"></i><span>hbi.png</span></div>
							<div class="tbl-row"><i class="icon-eye-on"></i><span>Brush 1</span></div>
							-->
						</div>
					</div>
					<div class="right">
						<div class="tbl-head">
							<div class="frame-count" data-scroll-hId="listh2" data-click="go-to-frame-index">
								<ul>
									<!-- <li></li> -->
								</ul>
							</div>
							<div class="play-head"><span></span></div>
							<div class="end-line"></div>
						</div>
						<div class="tbl-body" data-scroll-hId="listh2" data-scroll-vId="listv2" data-click="select-frame">
							<!--
							<div class="tbl-row parent-row"><span class="frames" style="--l: 0; --w: 14;"></span></div>
							<div class="tbl-row"><span class="frames" style="--l: 0; --w: 12; --c: #595;"></span></div>
							-->
							<span class="cursor"></span>
						</div>
					</div>
				</div>
				<!-- custom scrollbars -->
				<div class="bg-scrollbar vertical right" data-scroll-target="listv2">
					<div class="scroll-track">
						<div class="scroll-bar"></div>
					</div>
				</div>
				<div class="bg-scrollbar horisontal bottom" data-scroll-target="listh2">
					<div class="scroll-track">
						<div class="scroll-bar"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</content>
