
@boxBg: #2c2c2c;
@boxFace: #636363;

background: @boxBg;


content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #999;
	font-size: 12px;
	text-shadow: 0 1px 0 rgba(0,0,0,.1);

	[class*="icon-"],
	[class^="icon-"] {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 15px;
		height: 15px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		filter: drop-shadow(0 1px 0 rgba(0,0,0,.15));
		
		&.icon-new      { background-image: url(~/icons/icon-new.png); }
		&.icon-trashcan { background-image: url(~/icons/icon-trashcan.png); }
		&.icon-zoom     { background-image: url(~/icons/icon-zoom.png); }
		&.icon-sort     { background-image: url(~/icons/icon-sort.png); }

		&.icon-paint    { background-image: url(~/icons/icon-paint.png); }
		&.icon-preview  { background-image: url(~/icons/icon-preview.png); }
		&.icon-code     { background-image: url(~/icons/icon-code.png); }
		
		&.icon-eye-on   { background-image: url(~/icons/icon-eye-on.png); }
		&.icon-eye-off  { background-image: url(~/icons/icon-eye-off.png); }
	}

	.workarea {
		position: absolute;
		top: 5px;
		left: 5px;
		right: 5px;
		bottom: 5px;
		display: flex;
		flex-direction: column;

		.row-work {
			position: relative;
			display: flex;
			flex: 1;

			.column-canvas {
				flex: 1;
				display: flex;
					
				.canvas {
					.body {
						canvas {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							border-radius: inherit;
						}
					}

					.foot {
						.button {
							opacity: .75;

							&.active {
								opacity: 1;
								filter: brightness(1.35);
							}

							&:not(.zoom) {
								[class*="icon-"],
								[class^="icon-"] {
									top: -1px;
									margin-right: 2px;
								}
							}

							&.zoom {
								position: absolute;
								top: 1px;
								right: 0;
								padding: 0;

								span {
									background: @boxBg;
									position: relative;
									top: 1px;
									padding: 2px 5px 1px;
									margin: 0 0 0 2px;
									border-radius: 2px;

									&:after {
										content: "%";
										opacity: .5;
										padding-left: 2px;
									}
								}

								&:hover {
									filter: none;
									color: #ccc;

									[class*="icon-"],
									[class^="icon-"] {
										filter: brightness(1.25);
									}
								}
							}
						}
					}
				}
			}

			.column-sidebar {
				width: 240px;
				display: flex;
				flex-direction: column;

				.navigator {
					height: 200px;
					margin-bottom: 5px;
					flex: initial;
					
					.body {
						bottom: 4px;

						> div {
							background: rgba(200,200,200,.1);
							position: absolute;
							top: 7px;
							left: 43px;
							width: 153px;
							height: 161px;
							box-shadow: 0 0 0 1px darken(@boxFace, 11%);

							canvas {
								width: 100%;
								height: 100%;
								background: url(~/samples/img/hb.png) 50% 50%/contain no-repeat;
							}

							.view-rect {
								position: absolute;
								top: 17px;
								left: 53px;
								width: 100px;
								height: 80px;
								cursor: move;
								box-shadow: inset 0 0 0 1px #f90,
											0 0 0 1px #f90;
							}
						}
					}
				}

				.layers {
					margin: 0 19px 0 0;

					.body {
						.asset {
							position: relative;
							padding: 5px;
							display: flex;
							border-bottom: 1px solid rgba(0,0,0,.1);

							canvas {
								background: url(~/samples/img/hb.png) 50% 50%/contain no-repeat;
								background-color: rgba(200,200,200,.1);
								display: inline-block;
								width: 31px;
								height: 31px;
								box-shadow: 0 0 0 1px darken(@boxFace, 11%);
							}

							span {
								flex: 1;
								padding: 9px 7px;
							}
						}
					}

					.foot {
						text-align: right;
					}

					.bg-scrollbar {
						bottom: 19px;

						&:after {
							content: "";
							background: url(~/icons/negative-corner.png) 50% 50%/contain no-repeat;
							position: absolute;
							left: 0;
							bottom: -4px;
							width: 4px;
							height: 4px;
							transform: rotate(180deg);
						}
					}
				}
			}

		}

		.row-reel {
			display: flex;
			height: 170px;
			--barW: 14px;
			--chanH: 23px;
			--c: #d60;

			.area {
				margin: 0 19px 19px 0;
				border-radius: 5px 5px 0 5px;

				.body {
					top: 4px;
					bottom: 4px;
					display: flex;

					.left {
						// background: rgba(0,0,0,.1);
						width: 196px;
						display: flex;
						flex-direction: column;
						border-right: 1px solid #555;

						.tbl-body {
							.tbl-row {
								padding: 2px 3px 2px 5px;

								[class*="icon-"],
								[class^="icon-"] {
									filter: brightness(1.25);
								}
								
								span {
									display: inline-block;
									padding: 2px 3px;
								}
							}
						}
					}

					.right {
						flex: 1;
						display: flex;
						flex-direction: column;
						// border-left: 1px solid rgba(200,200,200,.1);

						.tbl-head {
							position: relative;

							&:before {
								content: "";
								position: absolute;
								left: 0;
								right: 0;
								bottom: 0;
								height: 13px;
								border-top: 1px solid #555;
								background-image: repeating-linear-gradient(90deg,
									transparent 0px, transparent calc( calc( var( --barW ) * 9 ) - 1px ),
									#555 calc( calc( var( --barW ) * 9 ) - 1px ), #555 calc( var( --barW ) * 9 ),
									#55555570 calc( var( --barW ) * 9 ), #55555570 calc( calc( var( --barW ) * 10 ) - 1px ),
									#555 calc( calc( var( --barW ) * 10 ) - 1px ), #555 calc( var( --barW ) * 10 )
								);
							}

							&:after {
								content: "";
								position: absolute;
								left: 0;
								right: 0;
								bottom: 0;
								height: 3px;
								border-top: 1px solid rgba(200,200,200,.1);
							}

							> div {
								position: absolute;
								top: 0;
								left: 0;
								right: 0;
								bottom: 0;
								overflow: hidden;

								ul {
									list-style: none;
									white-space: nowrap;
									font-size: 0;
									counter-reset: frame-counter;

									li {
										text-align: right;
										width: calc( var( --barW ) * 10 );
										padding: 3px 2px;
										display: inline-block;
										font-size: 11px;
										counter-increment: track-counter;

										&:before {
											content: counter(track-counter);
										}

										&:after {
											content: "0";
										}
									}
								}
							}
						}

						.tbl-body {
							.tbl-row {
								background-image: repeating-linear-gradient(90deg,
										transparent 0px, transparent calc( var( --barW ) - 1px ),
										#555 calc( var( --barW ) - 1px ), #555 var( --barW )
									),
									repeating-linear-gradient(90deg,
										transparent 0px, transparent calc( var( --barW ) * 9 ),
										#55555570 calc( var( --barW ) * 9 ), #55555570 calc( var( --barW ) * 10 )
									);
							}

							.frames {
								position: absolute;
								top: 3px;
								left: calc( var( --l ) * var( --barW ) );
								width: calc( calc( var( --w ) * var( --barW ) ) - 1px );
								height: calc( var( --chanH ) - 7px );
								background-color: var( --c );
								background-image: linear-gradient(0deg, rgba(0,0,0,.2) 0%, transparent 100%);
								box-shadow: inset 0 1px 0 rgba(255,255,255,.075),
											0 1px 2px rgba(0,0,0,.2);
								border-radius: 3px;
							}
						}
					}

					.tbl-head {
						position: relative;
						height: 31px;
						border-bottom: 1px solid #555;
					}

					.tbl-body {
						position: relative;
						flex: 1;
						// border-top: 1px solid rgba(200,200,200,.1);
					}

					.tbl-row {
						position: relative;
						width: 100%;
						height: var( --chanH );
						border-bottom: 1px solid #555;
					}
				}

				.bg-scrollbar.right {
					top: 29px;
				}
			}
		}

		.bg-scrollbar {
			background: inherit;
			border-radius: 0 5px 5px 0;
			position: absolute;
			top: 19px;
			bottom: 0;
			right: -19px;
			width: 19px;

			&.right {
				&:before {
					content: "";
					background: url(~/icons/negative-corner.png) 50% 50%/contain no-repeat;
					position: absolute;
					left: 0;
					top: -4px;
					width: 4px;
					height: 4px;
					transform: rotate(90deg);
				}

				.scroll-track {
					top: 7px;
					bottom: 7px;
					left: 2px;
					width: 11px;

					.scroll-bar {
						top: 31%;
						left: 1px;
						width: 9px;
						height: 37%;
					}
				}
			}

			&.bottom {
				border-radius: 0 0 5px 5px;
				width: auto;
				top: auto;
				bottom: -19px;
				left: 200px;
				right: 0;
				height: 19px;

				&:before {
					content: "";
					background: url(~/icons/negative-corner.png) 50% 50%/contain no-repeat;
					position: absolute;
					top: 0;
					left: -4px;
					width: 4px;
					height: 4px;
					transform: rotate(-90deg);
				}

				&:after {
					content: "";
					background: url(~/icons/negative-corner.png) 50% 50%/contain no-repeat;
					position: absolute;
					top: 0;
					right: -4px;
					width: 4px;
					height: 4px;
					transform: rotate(180deg);
				}

				.scroll-track {
					left: 7px;
					right: 7px;
					top: 2px;
					height: 11px;

					.scroll-bar {
						left: 1px;
						top: 1px;
						height: 9px;
						width: 37%;
					}
				}
			}

			.scroll-track {
				position: absolute;
				border-radius: 13px;
				background: rgba(0,0,0,.125);

				.scroll-bar {
					opacity: 0;
					position: absolute;
					border-radius: 13px;
					background: darken(@boxFace, 3%);
					cursor: ns-resize;
				}
			}
		}

		.resize {
			&.horizontal {
				width: 3px;
			}

			&.vertical {
				height: 3px;
			}
		}

		.area {
			background: #454545;
			position: relative;
			border-radius: 5px;
			flex: 1;

			.head {
				position: absolute;
				top: 5px;
				left: 5px;
				right: 5px;
				height: 17px;
				overflow: hidden;
			}

			.body {
				background: @boxFace;
				position: absolute;
				top: 21px;
				left: 4px;
				right: 4px;
				bottom: 23px;
				border-radius: 3px;
				box-shadow: 0px 1px 1px rgba(0,0,0,.15),
							inset 0 1px 0 rgba(255,255,255,.1),
							inset -1px -1px 0px rgba(0,0,0,.075);
			}

			.foot {
				position: absolute;
				bottom: 3px;
				left: 5px;
				right: 5px;
				height: 17px;

				.button {
					display: inline-block;
					padding: 2px 3px 0 0;
					margin: 0 3px;
					cursor: pointer;

					&:hover {
						filter: brightness(1.35);
					}

					&:first-child {
						margin-left: 0;
					}

					&:last-child {
						margin-right: 0;
					}

					[class*="icon-"],
					[class^="icon-"] {
						top: 0;
					}
				}
			}
		}
	}
}
