
.controls {
	text-align: left;
}

.display {
	top: -3px;
	left: -11px;
	width: 213px;
	height: 29px;
	border-radius: 4px;
	background: #90a;

	&:after {
		content: "";
		position: absolute;
		top: 1px;
		bottom: 3px;
		left: 1px;
		right: 1px;
		z-index: 2;
		pointer-events: none;
		background: linear-gradient(180deg, rgba(230,230,255,.25) 0%, transparent 31%);
		border-radius: 3px;
	}

	&.tool-disabled_ {
		filter: grayscale(100%);
	}

	.toolbar-field_ {
		position: absolute;
		top: -1px;
		bottom: 0px;
		left: 0;
		z-index: 3;
		font-size: 9px;
		background: transparent;
		margin-right: 4px;
		color: #f0f0ff;
		font-size: 15px;
		font-family: Lucida Console;
		text-transform: uppercase;
		text-shadow: 0 1px 0 rgba(0,0,0,.175);
		border: 0;
		box-shadow: 0 0 0;

		span {
			position: absolute;
			top: 2px;
			width: 47px;
			text-align: center;

			&:before {
				position: absolute;
				bottom: -11px;
				left: 0;
				right: 0;
				text-align: center;
				font-size: 11px;
				opacity: .45;
			}

			&.frameCurrent {
				left: 11px;

				&:before {
					content: "Current";
				}
			}

			&.framesTotal {
				left: 87px;

				&:before {
					content: "Total";
				}
			}

			&.fps {
				left: 159px;

				&:before {
					content: "FPS";
				}

				&:after {
					content: "(" attr(data-real) ")";
					font-size: 10px;
					opacity: .5;
					margin-left: 3px;
				}
			}
		}
	}
}
