
.undo-redo {
	width: 67px;
}

.tools-left {
	width: 46%;
	text-align: right;

	> div:last-child {
		margin-right: 0;
	}
}

.display {
	width: 243px;
	height: 30px;
	padding-left: 17px;
	padding-right: 17px;

	// &.tool-disabled_ {
	// 	filter: grayscale(100%);
	// }

	// &:not(.tool-disabled_) {
	// 	&:after {
	// 		background: radial-gradient(ellipse at bottom center, rgba(253,204,255,.25), transparent 80%),
	// 					linear-gradient(180deg, #9650aa 0%, #881e91 43%, #5f0f79 43%, #610e7c 100%);
	// 		box-shadow: 0 0 0 1px #51006c8f;
	// 	}

	// 	.toolbar-field_ {
	// 		color: #f0f0ff;
	// 	}
	// }

	.toolbar-field_ {
		position: absolute;
		top: -5px;
		left: 17px;
		right: 17px;
		bottom: 0;
		height: auto;
		width: auto;
		z-index: 3;
		background: transparent;
		font-size: 15px;
		font-family: Lucida Console;
		text-transform: uppercase;
		text-shadow: 0 1px 0 rgba(0,0,0,.175);
		border: 0;
		padding: 0;
		box-shadow: 0 0 0;

		&.blank-display {
			span {
				display: none;
			}
		}

		span {
			position: absolute;
			top: 3px;
			width: 47px;
			text-align: center;

			&:before {
				position: absolute;
				bottom: -11px;
				left: 0;
				right: 0;
				text-align: center;
				font-size: 10px;
				opacity: .45;
			}

			&.frameCurrent {
				left: 8px;

				&:before {
					content: "Current";
				}
			}

			&.framesTotal {
				left: 81px;

				&:before {
					content: "Total";
				}
			}

			&.fps {
				left: 153px;

				&:before {
					content: "FPS";
				}

				&:after {
					content: "(" attr(data-real) ")";
					font-size: 10px;
					opacity: .5;
					margin-left: 3px;
				}
			}
		}
	}
}

.tools-right {
	width: calc(39% + 3px);
	text-align: left;
}

.toolbar-group_:last-child.empty {
	width: 47px;
}
